.forum {
  background-color:#F5F5F5;
}
.forumPoster{
  font-weight:bold;
  color: #387ef5;
  text-align: left;
}
.commenter{
  font-weight:bold;
}

.commentsList{
  overflow: auto;
  max-height: 350px;
}

.comment{

}
