<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ forumGroupName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="forum">

  <div *ngIf="loadingData">
    <ion-list>
      <ion-item *ngFor="let message of loadingMessages; let currentIndex = index">
        {{ message }}
        <ion-icon *ngIf="(currentIndex + 1) < loadingMessages.length" name="done-all" item-right></ion-icon>
        <div style="text-align: center" item-right *ngIf="(currentIndex + 1) >= loadingMessages.length">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!loadingData">
    <ion-card>
      <ion-card-content>
        <h4><b>{{ forum.title}}</b></h4>
        <p> {{ forum.description }}</p>
        <ion-row>
          <ion-col>
            <ion-col>
              <ion-note text-left>
                <span class="forumPoster" >{{ forum.poster }}</span>
              </ion-note>
            </ion-col>
          </ion-col>
          <ion-col center text-center >
            <ion-note>
              {{ forum.postedDate }}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card class="commentsList" *ngIf="forum">
      <ion-card-content *ngIf="forum.comments">

        <div *ngIf="forum.comments.length == 0">
          <p>Current there is no comment on this topic. Feel free to comment</p>
        </div>

        <div *ngFor="let comment of forum.comments">
          <ion-row>
            <ion-col>
              <ion-note text-left>
                <span class="forumPoster" >{{comment.full_name }}</span>
              </ion-note>
            </ion-col>
            <ion-col center text-right >
              <ion-note>
                {{ comment.posted_date}}
              </ion-note>
            </ion-col>
          </ion-row>
          <p class="comment">{{comment.description }}</p>
          <hr>
        </div>

      </ion-card-content>
    </ion-card>

    <ion-card class="commentsList" *ngIf="isAppSendingComment">
      <ion-card-content >
        <ion-spinner name="circles"></ion-spinner>  Please wait, while sending comment
      </ion-card-content>
    </ion-card>

    <ion-grid >



      <ion-row>
        <ion-col width="100">
          <ion-item>
            <ion-label floating>Comment</ion-label>
            <ion-textarea [(ngModel)]="comment">></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width="100">
          <button ion-button icon-only full (click)="commentOnForum()">
            Comment
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
